/* =============================
* CLEARFIX
* ============================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* =============================
* STYLES
* ============================== */
html {
  font-family: 'Open Sans', sans-serif;
  background-color: #2D2D2D; }

body {
  overflow-x: hidden; }

a {
  color: #00a5e0; }

.videowrapper {
  padding-bottom: 42%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative; }
  .videowrapper iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0; }

.container {
  padding: 0 1em;
  margin: 0 5%; }

.header {
  background: #EE3A24; }

.newspaper h3 {
  margin-top: 0;
  color: #EE3A24; }

@media screen and (min-width: 768px) {
  .newspaper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    -webkit-column-rule: 1px solid #EE3A24;
    -moz-column-rule: 1px solid #EE3A24;
    column-rule: 1px solid #EE3A24; }
    .newspaper > div {
      -webkit-column-break-inside: avoid;
      break-inside: avoid-column; } }

@media screen and (min-width: 1140px) {
  .newspaper {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

.grid {
  padding: 0;
  margin: 0 -1em;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .grid > li {
    width: 300px;
    max-width: 100%; }

/* =============================
* CONTENT SPECIFIC STYLES
* ============================== */
.logo {
  display: inline-block;
  margin-left: -1em;
  background: #000;
  width: 100px;
  height: 100px; }
  .logo a {
    display: block;
    width: 100px;
    height: 100px;
    background: #EE3A24 url(../images/logo-datawijs.png);
    background-size: cover;
    font-size: 0; }
    .logo a:hover {
      opacity: .8; }

.faq {
  margin: 1em 0;
  padding: 1em 0; }

.partners {
  padding: 1em 0 4em; }
  .partners a {
    display: block;
    transition: -webkit-filter 0.3s, filter 0.3s;
    -moz-filter: saturate(0);
    -webkit-filter: saturate(0);
    -o-filter: saturate(0);
    -ms-filter: saturate(0);
    filter: saturate(0);
    padding: 1em; }
    .partners a:hover, .partners a:focus {
      -moz-filter: saturate(1);
      -webkit-filter: saturate(1);
      -o-filter: saturate(1);
      -ms-filter: saturate(1);
      filter: saturate(1); }
  .partners img {
    display: block;
    width: 100%;
    height: auto;
    background: rgba(0, 150, 0, 0.5);
    color: #fff; }
  .partners .sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-height: 100px;
    margin-bottom: 25px;
    opacity: 0.85;
    max-width: 200px; }
    .partners .sponsor:hover {
      opacity: 1; }

.constraint {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto; }

.oSoc-logo img {
  width: 60px;
  height: 60px; }

.big-participate {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #2D2D2D;
  color: #FFF;
  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 20px;
  float: left; }
  .big-participate:hover {
    background-color: #2D2D2D;
    color: #7FB924; }

.big-notice {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #2D2D2D;
  color: #00a5e0;
  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 150px; }
  @media screen and (max-width: 768px) {
    .big-notice {
      margin-top: 60px; } }

.part-nomargin {
  margin-left: 0; }

p.big {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px; }

.partner-desc {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15px; }
  .partner-desc a {
    color: #FFF; }

.page {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto; }

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600; }

h2 {
  font-size: 2.5em;
  color: #65CCEC; }

.wh {
  color: #FFF; }

.nav {
  min-height: 100px;
  color: #fff; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap; }
    .nav ul li {
      text-transform: uppercase;
      display: inline-block; }
      .nav ul li a {
        display: block;
        text-decoration: none;
        color: #FFF;
        line-height: 20px;
        padding: 15px 20px; }
      .nav ul li a:hover {
        background: rgba(0, 0, 0, 0.1); }
      .nav ul li .active {
        color: #7FB924;
        transition: color 0.2s ease-in-out; }
  .nav .nav-toggle {
    display: none; }

#big-video-wrap {
  position: relative !important; }

.hero {
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 15px;
  background: url("assets/heroB.jpg");
  background-size: cover;
  background-position: center; }
  .hero h1.hero-header {
    text-align: left;
    margin-top: 305px;
    margin-left: 55px;
    z-index: 999;
    color: #FFF;
    font-size: 3em;
    text-transform: uppercase;
    max-width: 600px; }
    @media screen and (max-width: 768px) {
      .hero h1.hero-header {
        margin-top: 60px; } }

.location {
  padding-bottom: 45px;
  background: url("assets/hero-location3B.jpg");
  background-size: cover;
  min-height: 600px; }
  .location .headline {
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 25px; }
  .location .map {
    width: 550px;
    margin-left: auto;
    margin-right: auto; }
  .location .cities {
    top: -30px;
    color: #FFF;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*padding-bottom: 20px;*/ }
    .location .cities .date, .location .cities .city, .location .cities .place {
      line-height: 0.7em; }
    .location .cities .date {
      text-transform: uppercase;
      font-size: 1.1em;
      padding-bottom: 8px; }
    .location .cities .city {
      font-size: 1.7em;
      font-weight: 600;
      margin-bottom: 0; }
      .location .cities .city a {
        color: #FFF;
        text-decoration: underline; }
        .location .cities .city a:hover {
          text-decoration: underline; }
    .location .cities .place {
      font-size: 1em;
      font-weight: 400; }

p.hero-paragraph {
  font-weight: 300;
  color: #FFF;
  margin-left: 60px;
  margin-right: 40px;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.8em;
  margin-bottom: 45px; }

.numbers {
  display: block;
  color: #FFF;
  text-align: center;
  background-color: #2D2D2D; }
  .numbers .tagline {
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 25px; }
  .numbers .grid-25 {
    border-right: 1px solid #444;
    margin-bottom: 25px; }
    .numbers .grid-25:last-of-type {
      border-right: none; }
    .numbers .grid-25 img {
      width: 50%;
      max-width: 130px; }

.students {
  padding-bottom: 25px; }
  .students h2 {
    margin-top: 40px;
    margin-bottom: 30px; }

.studentsparticipate {
  color: #2D2D2D;
  background-position: center;
  padding-bottom: 35px; }
  .studentsparticipate h2 {
    color: #2D2D2D;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .studentsparticipate .skill-container {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto; }
    .studentsparticipate .skill-container .skill-item {
      border-right: 1px solid #FFF;
      padding: 15px; }
      .studentsparticipate .skill-container .skill-item .skill {
        top: -30px;
        color: #7FB924;
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
      .studentsparticipate .skill-container .skill-item .skill-desc {
        top: -30px;
        color: #2D2D2D;
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
      .studentsparticipate .skill-container .skill-item img {
        border-radius: 300px;
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .studentsparticipate .skill-container .skill-item:last-of-type {
      border-right: none; }
  .studentsparticipate .student-desc {
    margin: 0 1em;
    padding: 0;
    line-height: 1.5;
    color: #535353; }
  .studentsparticipate .students-gallery .grid-25 {
    margin-bottom: 35px; }
    .studentsparticipate .students-gallery .grid-25 p {
      text-align: center;
      margin-top: 0.4em; }
    .studentsparticipate .students-gallery .grid-25 .student-name {
      font-size: 1.1em;
      margin-bottom: 0px; }
    .studentsparticipate .students-gallery .grid-25 .student-twitter a {
      text-decoration: none;
      color: #00a5e0; }
    .studentsparticipate .students-gallery .grid-25 .student-linkedin a {
      background-color: #00a5e0;
      padding: 5px;
      color: #FFF;
      font-size: 0.9em;
      text-decoration: none; }
    .studentsparticipate .students-gallery .grid-25 img {
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 120px;
      height: 120px;
      border-radius: 300px; }

.contact-desc {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 0;
  padding-top: 0; }

.footer {
  background-color: #EE3A24;
  padding-bottom: 1em;
  text-align: center; }
  .footer p {
    font-size: 0.9em;
    padding-top: 5px;
    color: #FFF; }
  .footer a {
    color: #fff; }

/* =============================
* MEDIA QUERIES
* ============================== */
/* Smartphones */
@media screen and (max-width: 480px) {
  .grid-25 {
    position: relative;
    top: 0px;
    margin-bottom: 35px; }
  h1.hero-header {
    margin-top: 65px !important;
    font-size: 2em !important;
    max-width: 400px !important; }
  .location {
    margin-top: 0;
    min-height: 700px; }
    .location .grid-33 {
      padding-bottom: 15px; }
    .location .date, .location .city, .location .place {
      padding: 0 !important; }
  .map {
    width: 95% !important; }
    .map img {
      width: inherit; } }

.osoc-bold {
  font-weight: 700;
  text-transform: none; }

.al-r {
  text-align: right; }

a p {
  color: #FFF;
  border-color: #FFF; }

/* Navigation fixes for width < 960 px */
@media screen and (max-width: 1000px) {
  .grid-25 {
    position: relative;
    top: 0px;
    margin-bottom: 35px; }
  .map {
    max-width: 80% !important; }
    .map img {
      width: 100% !important; }
  .numbers .grid-25 {
    border-right: 1px solid #444;
    margin-bottom: 25px; }
    .numbers .grid-25 img {
      width: 50%;
      max-width: 130px; }
  .numbers .grid-25:nth-of-type(2n) {
    border-right: none; } }
